/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Target for everything */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* Nav bar */

nav {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}



nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

nav li {
    justify-self: flex-start;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}



ul.menu-items a {
    margin: 0 5em 0 0;
}

ul.some a {
    margin: 0 0.5em;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    max-width: 1440px;
    bottom: 0;
    align-items: center;
    height: 120px;
}

footer img {
    width: 200px;
    height: 100px;
}


/* Image */


img {
    width: 100%;
    height: auto;
    display: block;
}

.big-img {
    width: 100%;
    height: 100%;
    background-position: center;
    grid-area: 1/1/2/-1;
}


.logo-img-on-top {
    grid-area: 1/1/2/-1;
    order: 1;
    place-self: center;
    max-width: 480px;
}

main.home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

footer img {
    margin: 0 2em;
}

footer .logo {
    height: 30px;
    width: 109px;
}

footer .logo2 {
    height: 60px;
    width: 122px;
}

footer .logo3 {
    height: 30px;
    width: 238px;
}


/* Hover */

nav ul li a {
    color: #888888;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
}

nav ul li a i {
    color: #888888;
}

nav ul li a:hover,
.active,
nav ul li a:hover i {
    font-weight: bold;
    color: white;

}

p,
h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
}



/* Menu  */

#burger {
    display: none;
    justify-content: start;
    cursor: pointer;
    color: #e5e5e5;
    font-size: 1em;

}



/* Media Screen iPad */


@media (max-width: 1024px) {

    figure figcaption {
        display: unset;
    }

    footer {
        background-color: transparent;
    }


    .menu-items {
        display: none;
    }


    /* burger menu*/

    /* burger-ikon til tablet og mobil */

    #burger {
        display: flex;
        padding: 0.5em;
        order: 2;
    }

    /* styling når burger har class active */
    #burger.active {
        padding-top: 4em;
        font-size: 1.5em;
    }

    /* ændring af nav til tablet- og mobilvisning */
    nav {
        padding: 0 1em;
        line-height: 2em;
        flex-direction: row-reverse;
    }

    /* styling når nav har class active */
    nav.active {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #486340;
    }

    /* menu med links til intern navigation */
    .menu-items {
        display: none;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    .menu-items li {
        margin: 1.5em 0;
        justify-self: center;
    }



    ul.menu-items a {
        margin: 0;
    }

    ul.some a {
        margin: 0;
    }



    /* menu med links til sociale medier */
    .some {
        margin: 0;
        justify-content: flex-end;
        order: 1;
        margin-top: 1em;
    }

    .some i {
        margin: 0 0.6em;
    }

    nav.active ul li a {
        font-size: 1.4em;
    }
}





/* Media Screen mobile */

@media (max-width: 420px) {

    .logo-img-on-top {
        display: block;
        max-width: 340px;
        margin: 0 auto;
    }

    footer {
        flex-direction: column;
        align-items: start;
        align-content: center;
        gap: 20px;
        margin-bottom: 1em;
    }


    img {
        width: 100%;
        height: auto;
        display: block;
    }

    footer {
        display: block;
        position: relative;
        min-height: 150px;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    #wrapper {
        padding-bottom: 1%;
        background: url(/images/background-img/fullscreen-bg.jpg);
    }


    /* Burger Menu */



}